<div class="jumbotron">
  <h1>Project Management</h1>
  <p><span style="font-size: 3em" class="pull-left glyphicon glyphicon-chevron-left"></span>To get started choose an existing project on the left, or create a new one.</p>
	<blockquote>
		<p class="text-justify">Project management software has the capacity to help plan, organize, and manage resource pools and develop resource estimates. Depending on the sophistication of the software, it can manage estimation and planning, scheduling, cost control and budget management, resource allocation, collaboration software, communication, decision-making, quality management and documentation or administration systems. Today, numerous PC-based project management software packages exist, and they are finding their way into almost every type of business. In the early days, however, project management software ran on big mainframe computers and was used only in the large projects. These early systems were limited in their capabilities and, by today's standards, were difficult to use.</p>
		<small><a href="http://en.wikipedia.org/wiki/Project_management_software" target="_blank">Wikipedia</a></small>
	</blockquote>
</div>