<div class="btn-group">
	<% if !pbs.nil? %>
		<% if pbs.can_have_childs? %>
			<a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
		<% end %>
		<% if !pbs.is_first_sibling? %>
			<a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>
		<% end %>
		<% if !pbs.is_last_sibling? %>
			<a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>
		<% end %>
	<% else %>
		<a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
	<% end %>
</div>