<nav class="navbar navbar-inverse" role="navigation">
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="#">Product Breakdown Structure</a></li>
			<li><a href="#">Work Breakdown Structure</a></li>
			<li><a href="#">Resource Breakdown Structure</a></li>
			<li><a href="#">Resource Allocation Matrix</a></li>
		</ul>
	</div>
</nav>